@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f6f2;
  --card: #ffffff;
  --foreground: #18181b;
  --black: #000000;
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins-sans), "Helvetica Neue", Arial, sans-serif;
}

/* ---------- GLOBAL THIN SCROLLBAR ---------- */

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 1px;         /* thin */
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* ---------- FIREFOX ---------- */
* {
  scrollbar-width: thin;             /* auto | thin | none */
  scrollbar-color: #bfbfbf #f1f1f1;   /* thumb | track */
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}
.modal-content {
  z-index: 991;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px 24px;
}
.modal-close {
  z-index: 992;
}
.enquiry-form-modal .modal-content {
  overflow: hidden;
}


@keyframes zoomPulse {
  0% {
    transform: scale(0.85);
    background-color: #000000;
  }
  33% {
    transform: scale(1.05);
    background-color: #6b21a8; /* purple */
  }
  66% {
    transform: scale(1.2);
    background-color: #2563eb; /* blue */
  }
  100% {
    transform: scale(0.85);
    background-color: #000000;
  }
}

.zoom-3color {
  animation: zoomPulse 1.4s infinite ease-in-out;
}