@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f6f2;
  --card: #ffffff;
  --foreground: #18181b;
  --black: #000000;
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins-sans), "Helvetica Neue", Arial, sans-serif;
}

/* ---------- GLOBAL THIN SCROLLBAR ---------- */

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 1px;         /* thin */
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* ---------- FIREFOX ---------- */
* {
  scrollbar-width: thin;             /* auto | thin | none */
  scrollbar-color: #bfbfbf #f1f1f1;   /* thumb | track */
}