@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f6f2;
  --card: #ffffff;
  --foreground: #18181b;
  --black: #000000;
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins-sans), "Helvetica Neue", Arial, sans-serif;
}
